.imgShow {
    width:100%;
    max-height:550px;
}
.slick-next{
    right:5px
}
.slick-prev{
    left:5px
}
.slick-arrow {
    z-index: 20;
}
.intro__content {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    left: 5%;
    padding:50px;
    background:rgba(0,0,0,0.2);
    border-radius:10px;
    box-shadow:2px 4px 10px 0 rgba(0,0,0,0.3);
}
.intro__content__title{
    text-transform:uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    color:white;
}
.intro__content__description {
    margin-top:20px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.intro__content__button {
    color:unset;
    text-decoration: unset;
}