#layoutContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */

#layoutContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

#layoutContainer::-webkit-scrollbar-thumb {
  background: rgba(6, 119, 188, 0.3);
}

/* Handle on hover */

#layoutContainer::-webkit-scrollbar-thumb:hover {
  background: #0677BC;
}