.rcw-launcher{
    display: none;
}
.rcw-client{
    background-color:#0677BC;
    color:#fff
}
.rcw-widget-container{
    margin:0 20px 50px 0;
    font-family: 'Lato', sans-serif;
}
.rcw-conversation-container .rcw-header{
    background-color:#0677BC;
    padding:0

}
.containerButton{
    position: fixed;
    width: 90vw;
    bottom: 0;
    z-index: 2;
    max-width: 415px;
    margin-bottom: 20px;
    right: 0;
}